.cart-block {
  display: flex;
  align-items: center;
  position: relative;
}

.cart-block__total-price {
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
}

.cart-block__icon {
  cursor: pointer;
  position: relative;
}
